<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Webcam feed using Flask</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Webcam feed using Flask</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <script>
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.log("Something went wrong!");
            });
    </script>
    <script>
        var video = document.querySelector("#video");
        var canvas = document.createElement("canvas");
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        var context = canvas.getContext("2d");
        setInterval(function() {
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.toBlob(function(blob) {
                var formData = new FormData();
                formData.append('image', blob);
                fetch('/process_video', {
                    method: 'POST',
                    body: formData
                });
            }, 'image/jpeg', 0.5);
        }, 100);
    </script>
</body>
</html>
